<!-- <hello name="{{ name }}"></hello> -->
<!-- <p>
  Start editing to see some magic happen :)
</p> -->
<div class="container">
  <div class="title">
    <h2>Gymkhana<span> | Team Players</span></h2>
  </div>
  <video autoplay loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="../../assets/images/video.mp4" type="video/mp4">
    <!-- <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">  width: '25%', height: 400 -->
  </video>
  <div class="box">
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
      [imageSize]="{width: '25%', height: 400, space: 10}" slideImage="1"></ng-image-slider>
  </div>
</div>
