<div class="container">
  <div class="title">
    <h2>Gymkhana Cricketing History</h2>
  </div>
  <div class="historydesc">
    <p>MN Gymkhana Cricket Club was officially formed in February 1997. The word ’official’ is because few club members
      were playing from other teams prior to Gymkhana’s formation. Srinivas Avvari was the founder of the club and he
      was joined by few other key members (Dr. Protul Shrikant, Ted Persaud, etc.) to put our club on MCA’s radar. The
      MCA organization who has 8-9 teams in the late nineties has grown by leaps and bounds and now has over 25 teams.
      We are one of those rare clubs who won Championship in the year of formation. We were extremely proud to be the
      Champion of 25 Overs tournament under the captaincy of Dr. Protul Shrikant. Gymkhana topped the 45 Overs team
      table and eventually won the 50 Overs Championship in the year 1999 and lost the 50 Overs finals in the year 2000
      under the captaincy of Abhijit Potdar. The departure of many key members and bad on-field performance in 2003
      demoted our team to Division II. Steller performances under the captainship of Vivek Shiri brought Gymkhana to
      Division I (Premier Division) right in the next year. Since then, we were always part of the prestigious Premier
      Division.
    </p>
  </div>
</div>
