<div class="container">
  <div class="title">
    <h2>Gymkhana Cricketing History</h2>
  </div>
  <div class="historydesc">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet ex libero odio suscipit aut veritatis quibusdam,
      pariatur voluptatibus sed tenetur adipisci numquam dolores. Quo, odio iste. Voluptatem assumenda minima debitis
      quod quibusdam nihil! Aliquam doloremque veritatis aut. Quia rem ducimus vel, aliquam quod quos sapiente ratione?
      Placeat possimus, excepturi ipsum voluptates, ullam magnam hic sequi cupiditate vitae minima nesciunt quaerat vero
      officia veritatis quisquam. Ab saepe, tempore nisi quibusdam adipisci totam labore rem nemo, nostrum eius impedit.
      Harum consequatur sit possimus, molestias delectus modi minima! Ipsam minus beatae itaque alias architecto in,
      earum debitis pariatur quaerat ab! Cumque, ea ipsa!
    </p>
  </div>
</div>
