<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <h2>About us</h2>
    <p>We are an emerging Cricket Club with immense talent and passion for the game. Our goal is to improve and grow
      cricket in Minnesota and all over the United States. Please like our page and support us by coming out to
      our
      games. </p>

    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/MnGymkhana/" class="icon fa-facebook"><span
            class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/mngymkhanacc/" class="icon fa-instagram"><span
            class="label">Instagram</span></a></li>
      <li><a href="mngkcc@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <!-- <p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
          href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p> -->
  </div>
</footer>

<!-- Scripts -->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/jquery.scrolly.min.js"></script>
<script src="../..assets/js/jquery.poptrox.min.js"></script>
<script src="../../assets/js/skel.min.js"></script>
<script src="../../assets/js/util.js"></script>
<script src="../../assets/js/main.js"></script>
