<div class="container">
  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a">
      <div class="box">
        <p class="marvel">Sachin</p>
        <img src="../../assets/images/sachin.jpg" alt="" class="model">
        <div class="details">
          <p>
            Right Hand Batsman
          </p>
        </div>
      </div>
    </li>
    <li class="item-a">
      <div class="box">
        <p class="marvel"></p>
        <img src="../../assets/images/sachin.jpg" alt="" class="model">
        <div class="details">
          <p>
            Right Hand Batsman
          </p>
        </div>
      </div>
    </li>
    <li class="item-a">
      <div class="box">
        <p class="marvel"></p>
        <img src="../../assets/images/sachin.jpg" alt="" class="model">
        <div class="details">
          <p>
            Right Hand Batsman
          </p>
        </div>
      </div>
    </li> -->
  </ul>
</div>
