<!-- <nav class="navigation"> -->
<!-- <a href="#" class="navbar-logo">Logo</a> img-circle -->
<!-- <img class="navbar-logo" alt="gymkhanalogo" src="../../assets/images/gymkhanalogo.jpg" width="50" height="50" />
    <div class="navbar-right">
        <a href="#">HOME</a>
        <a href="#">LIVESCORES</a>
        <a href="#">SCORECARD</a>
        <a href="#">FIXTURES</a>
        <a href="#">STATS</a>
        <a href="#">MORE</a>
    </div>
</nav> -->
<!-- <app-navbar></app-navbar> -->
<!-- <header>
    <app-nav></app-nav>
</header> -->
<app-newnav></app-newnav>
<app-banner></app-banner>
<app-secondbanner></app-secondbanner>
<app-statsgrid></app-statsgrid>
<!-- <app-players></app-players> -->
<app-ngimageslider></app-ngimageslider>
<!-- <app-caraousel></app-caraousel> -->
<!-- <app-hisotry></app-hisotry> -->
<!-- <app-boxes></app-boxes> -->
<app-footer></app-footer>
<router-outlet></router-outlet>
