<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>
<div class="container">
  <nav class="main-nav">
    <img src="../../assets/images/gymkhanasmalllogo.jpg" alt="gymkhanalogo" class="logo">
    <ul class="main-menu">
      <!-- <ul class="main-menu show"> -->
      <li><a href="#">Fixtures</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Sponsors</a></li>
      <li><a href="https://www.crichq.com/users/sign_in">Scoring</a></li>
      <li><a href="#">Stats</a></li>
      <!-- <li><a [routerLink]="'/stats'">Stats</a></li> -->
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
